<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuova Tappa</title>
</head>
<body bgcolor="#DCDCDC">
    <h1 align="center">Inserimento Nuovo Tappa</h1>
    <form method="GET" action="inserimentoT">

        <h4 align="center">Codice Ciclista:</h4>
        <p align="center">
            
        <tr>
            <p align="center">
                <td>
                    <select name="CodC" style="width:200px">
                        {% for Ciclisti in Ciclista %}
                            <option value="{{ Ciclisti['CodC'] }}">{{ Ciclisti['CodC'] }}</option>
                        {% endfor %}
                    </select>
                </td>
        </tr>

        <h4 align="center">Codice Tappa:</h4>
        <p align="center">
            
        <tr>
            <p align="center">
                <td>
                    <select name="CodT" style="width:200px">
                        {% for Tappe in Tappa %}
                            <option value="{{ Tappe['CodT'] }}">{{ Tappe['CodT'] }}</option>
                        {% endfor %}
                    </select>
                </td>
        </tr>

        <h4 align="center">Edizione: </h4>
        <tr>
            <p align="center">
                <td>
                <select name="Edizione" style="width:200px">
                    {% for Ediz in Edizioni %}
                        <option value="{{ Ediz['Edizione'] }}">{{ Ediz['Edizione'] }}</option>
                    {% endfor %}
                </select>
                </td>
        </tr>
        <h4 align="center">Posizione Ciclista: </h4>
        <p align="center">
            <input type="number" , name="Posizione" , size="24" , maxlength="50">


        <br>
        <br>
        <br>
            <input type="submit" style="background-color:	#9ACD32; border-color:#9ACD32; width:200px" value="Inserisci">
    </form>
</body>
</html>