<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizza</title>
</head>
</head>
<body bgcolor="#DCDCDC">
    <h1 align="center">Informazioni Ciclista</h1>
    <table align="center">
        <tr>
            {% for field in header %}
            <td >{{ field }}</td>
            {% endfor %}
        </tr>
        {% for ciclista in risultato %}
            <td >{{ ciclista["Nome"] }}</td>
            <td >{{ ciclista["Cognome"] }}</td>
            <td >{{ ciclista["NomeS"] }}</td>
            <td >{{ ciclista["Posizione"] }}</td>
            <td >{{ ciclista["Edizione"] }}</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>